body{
    background-color: #e3eeff;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 30px;
}
.botaoAdicionar{
    margin-left: 50px;

}
.botaoAdicionar>a{
    text-decoration: none;
    color: black;
}
.editar{
    padding-right: 10px;
}

.excluir{
    padding-left: 10px;
}

.containerTabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
}


.containerFormAdicionar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
}

.containerFormEditar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 500px;
    margin-right: 500px;
}

.botaoEditar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 350px;
}

.botaoEditar>button{
    margin-right: 100px;
}

.botaoFormAdicionar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
}

.botaoFormAdicionar>button{
    margin-right: 100px;
}