<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/imagens/lista-de-controle.png"/>
    <title>Student Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Student Register</h1>
    <div class="containerFormAdicionar">
        <table border="1" class="table table-striped table-borderless">
            <form action="/add" method="POST">
                <tr>
                    <td>Type your R.A:</td>
                    <td><input type="text" name="ra" id="ra" size="50"/></td>
                </tr>
                <tr>
                    <td>Type your name:</td>
                    <td><input type="text" name="name" id="name" size="80" /></td>
                </tr>
                <tr>
                    <td>Type your email:</td>
                    <td><input type="text" name="email" id="email" size="80" /></td>
                </tr>
                <tr>
                    <th colspan="2">
                        <div class="botaoFormAdicionar">
                            <button type="submit" class="btn btn-success">Send</button>
                            <a href="/" class="btn btn-secondary">Back</a>
                        </div>
                        
                        
                    </th>
                </tr>
            </form>
    
        </table>
    </div>

</body>
</html>